.submenu ul {
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.submenu ul.open {
  max-height: 100%;
  transform:scaleY(1);
  opacity: 1;
}

.menu-arrow {
  display: inline-block;
  transition: transform 0.4s ease;
}

.menu-arrow.rotate {
  transform: rotate(90deg);
}

.sidebar-inner {
  overflow-y: auto;
  max-height: 100vh;
}

.sidebar::-webkit-scrollbar {
  width: 4px; 
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  transition: background-color 0.3s ease;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); 
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}


.sidebar {
  scrollbar-width: thin; 
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent; 
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
}
